/* Слайдер */
.about-us-slider{
	min-width: 0;
	display: flex !important;
	.slick-slider{
	}
	/* Слайдер запущен */
	.slick-slider.slick-initialized{

	}
	/* Слайдер с точками */
	.slick-slider.slick-dotted{

	}
	/* Ограничивающая оболочка */
	.slick-list {
		height: 100%;
	}
	/* Лента слайдов */
	.slick-track{
		height: 100%;
	}
	/* Слайд */
	.slick-slide{
		//display: flex !important;
	}
	/* Слайд активный (показывается) */
	.slick-slide.slick-active{

	}
	/* Слайд основной */
	.slick-slide.slick-current{

	}
	/* Слайд по центру */
	.slick-slide.slick-center{

	}
	/* Клонированный слайд */
	.slick-slide.slick-cloned{

	}
	/* Стрелка */
	.slick-arrow{
		font-size: 0;
	}
	/* Стрелка влево */
	.slick-arrow.slick-prev{

	}
	/* Стрелка вправо */
	.slick-arrow.slick-next{

	}
	/* Стрелка не активная */
	.slick-arrow.slick-disabled{

	}
	/* Точки (булиты) */
	.slick-dots{
		padding: 0;
		margin-top: 50px;
		margin-bottom: 0;
		display: flex;
		justify-content: center;
		@media screen and (min-width: 1200px) {
			display: none;
		}
	}
	.slick-dots li{
		list-style: none;
		width: 10px;
		height: 10px;
		background-color: #C4C4C4;
		border-radius: 10px;
		margin: 0 5px;
		transition: all 0.5s;
	}
	/* Активная точка */
	.slick-dots li.slick-active{
		width: 30px;
		background-color: #839470;
		transition: all 0.5s;
	}
	/* Элемент точки */
	.slick-dots li button{
		border: none;
		font-size: 0;

	}
	/*.slick-dots li button::before{
		content:'';
		border-radius: 50%;
		
	}
	.slick-dots li button::after{
		content:'';
		border-radius: 50%;
		
	}*/
	.slick-dots li.slick-active button{
	}
	.slick-dots li.slick-active button::before{
	}
	.slick-dots li.slick-active button::after{
		
	}
}
