@import url("../fonts/Yrsa/font-yrsa.css");
@import url("../fonts/Nunito/font-nunito.css");
//@import "example-slider.scss";
@import "about-us-slider.scss";
@import "reviews-slider.scss";
@import "mixins.scss";
@import "text-styles.scss";
@import "button-styles.scss";
.ibg{
	background-position: center;
	background-repeat: no-repeat;
	&--contain{
		background-size: contain;
	}
	&--cover{
		background-size: cover;
	}
}
/*.mask{
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	&--elliptic{
		mask-image:url("../images/eliptic-shape.svg");
	}
	&--reverse-elliptic{
		mask-image:url("../images/reverse-ellipse.svg");
	}
}*/
a{
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}
.container{
	width: 1320px;
	height: auto;
	margin: auto;
	padding: 0 8px;
	box-sizing: border-box;
}
@media screen and (max-width: 1400px) {
	.container{
		width: 1140px;
	}
}
@media screen and (max-width: 1200px) {
	.container{
		width: 960px;
	}
}
@media screen and (max-width: 992px) {
	.container{
		width: 720px;
	}
}
@media screen and (max-width: 768px) {
	.container{
		width: 100%;
	}
}
body{
	background-color: #f6f3f1;
	text-align: justify;
	margin: 0;
}
.bg-block{
	z-index: -100;
	position: absolute;
	top: -15%;
	bottom: -20%;
	left: 0;
	right: 0;
	&--footer{
		bottom: 0;
	}
	&>img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.top-menu {
	&__container {

	}
	&__wrap {
		height: 110px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		position: relative;
		flex-grow: 0;
		align-self: stretch;
		img{
			width: auto;
			height: 100%;
		}
	}
	&__logo-text-container {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__logo-link{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__menu {
		flex: 50% 0 0;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
	&__menu-item {
	}
	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
	&__icon {
		margin: 0 20px;
	}
	&__mob-burger{
	}
}
.mob-burger{
	flex: 50px 0 0;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 992px) {
			display: none;
		}
	&__line{
		width: 100%;
		box-sizing: border-box;
		border: 2px solid #90A176;
		border-radius: 2px;
		background: #90A176;
		transition: all 0.5s;
		
	}
	&--active{
		.mob-burger__line--1{
			transform: translateY(calc(20px - 2px)) rotate(-135deg);
			transition: all 0.5s;
		}
		.mob-burger__line--2{
			opacity: 0;
			transition: all 0.5s;
		}
		.mob-burger__line--3{
			transform: translateY(calc(-20px + 2px)) rotate(135deg);
			transition: all 0.5s;
		}
	}
}
.mob-menu {
	position: fixed;
	bottom: calc(-100% + 110px);
	height: calc(100% - 110px);
	left: 0;
	width: 100%;
	transition: all 0.5s;
	z-index: 10;
	@media screen and (min-width: 992px) {
		display: none;
	}
	&--active{
		transform: translateY(-100%);
		transition: all 0.5s;
	}	
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -10;
		background-color: #7B9968;
	}
	&__content-wrapper {
		top: 0;
		left: 0;
		width: 100%;
		padding: 30px 50px;
		box-sizing: border-box;
		//height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@media screen and (max-width: 375px) {
			padding: 30px 30px;
		}
		@media screen and (max-height: 540px) {
			//justify-content: space-between;
		}
	}
	&__menu {
		flex: 40% 0 0;
		@media screen and (max-width: 500px) {
			flex: 70% 0 0;
		}
		@media screen and (max-height: 540px) {
			flex: auto 0 0;
		}

	}
	&__menu-item {
		margin-bottom: 15px;
	}
	&__socials {
		flex: 30% 0 0;
		display: flex;
		justify-content: start;
		flex-direction: column;
		align-items: end;
		@media screen and (max-height: 540px) {
			flex: 20% 0 0;
		}
		@media screen and (max-height: 540px) {
			align-items: center;
		}
	}
	&__social-icon {
		width: 35px;
		height: 35px;
		margin-bottom: 20px;
		&>img{
			width: 100%;
			height: 100%;
		}
	}
	&__buttons {
		margin-top: 50px;
		flex: 100% 0 0;
		display: flex;
		flex-direction: column;
		@media screen and (max-height: 540px) {
			flex: 30% 0 0;
			margin-top: 0;
		}
	}
	&__button-wrapper {
		padding: 0 30%;
		margin-bottom: 15px;
		@media screen and (max-width: 768px) {
			padding: 0 20%;
		}
		@media screen and (max-width: 500px) {
			padding: 0;
		}
		@media screen and (max-height: 540px) {
			padding: 0;
		}
	}
	&__button {
		width: 100%;
	}
}
.invitation-block {
	&__container {
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 0 3%;
		@media screen and (max-width: 992px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media screen and (max-width: 576px) {
			padding: 0 7%
		}
	}
	&__logo-wrapper {
		flex: 47% 0 0;
		position: relative;
		padding-bottom: 5%;
		@media screen and (max-width: 1200px) {
			flex: 50% 0 0;
		}
		@media screen and (max-width: 992px) {
			flex: 80% 0 0;
		}
		@media screen and (max-width: 576px) {
			flex: 90% 0 0;
		}
		@media screen and (max-width: 375px) {
			flex: 100% 0 0;
		}
	}
	&__logo-bg {
		z-index: -10;
		width: 100%;
		height: 100%;
		&>img{
			width: 100%;
			height: auto;
		}
	}
	&__logo-title-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__logo-title-wrapper {
		text-align: center;
		margin-bottom: 7%;
		@media screen and (max-width: 992px) {
			margin-bottom: 0;
		}
	}
	&__logo-title {
	}
	&__logo-subtitle {
	}
	&__invitation-wrapper {
		flex: 47% 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		@media screen and (max-width: 992px) {
			flex: 80% 0 0;
			margin-top: 110px;
			margin-bottom: 110px;
		}
		@media screen and (max-width: 576px) {
			flex: 100% 0 0;
		}
	}
	&__invitation-bg-wrapper {
		z-index: -10;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	&__invitation-bg {
		width: 100%;
		&>img{
			width: 100%;
			height: auto;
		}
		position: relative;
	}
	&__invitation-bg-decor {
		position: absolute;
		right: -9%;
		top: -11%;
		bottom: -2%;
		&>img{
			height: 100%;
			width: auto;
		}
	}
	&__invitation-text {
		margin-bottom: 15px;
	}
	&__invitation-button {
	}
}
.club-description {
	position: relative;
	&__container {
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 0 4%;
		@media screen and (max-width: 992px) {
			flex-wrap: wrap;
			padding: 0 8%;
		}
	}
	&__description-element {
		flex: 45% 0 0;
		@media screen and (max-width: 992px) {
			flex: 80%;
		}
	}
}
.description-element {
	margin-bottom: 70px;
	&__title {
		margin-bottom: 20px;
	}
	&__image {
		&>img{
			width: 100%;
			height: auto;
			border-radius: 10px;
		}
		margin-bottom: 45px;
		position: relative;
		@media screen and (max-width: 375px) {
			margin-bottom: 20px;
		}
	}
	&__image-decor {
		position: absolute;
		&>img{
			height: 100%;
			width: auto;
		}
		&--bl{
			top: 45%;
			bottom: -15%;
			left: -10%;
		}
		&--tr{
			top: -30%;
			bottom: 73%;
			right: -9%;
		}
	}
	&__text {
		margin-bottom: 40px;
	}
	&__read-more {
	}
}
.about-us {
	position: relative;
	&__container {
		margin-bottom: 200px;
		padding-top: 30px;
	}
	&__title {
		text-align: center;
		position: relative;
		margin-bottom: 110px;
	}
	&__title-decor {
		position: absolute;
		top: -10%;
		bottom: -130%;
		left: calc(48% - 180px);
		&>img{
			height: 100%;
			width: auto;
		}
		@media screen and (max-width: 375px) {
			display: none;
		}
	}
	&__content-wrapper {
		display: flex;
		flex-direction: column;
		min-width: 0;
		margin-bottom: 20px;
	}
	&__about-element {
		
	}
}
.about-element {
	&__inner-wrapper{
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 15px;
	}
	&__image-wrap {
		//flex-grow: 1;
		height: 165px;
		width: 165px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
	}
	&__image-outer-bg {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding:2px;
		border-radius: 50%;
		z-index: -20;
		background: linear-gradient(180deg, rgba(144,161,118,1) 0%, rgba(241,239,236,1) 100%);
	}
	&__image-inner-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		z-index: -10;
		background: #F6F3F1;
	}
	&__image {
		flex: 80% 0 0;
		padding: 12%;
		box-sizing: border-box;
		&>img{
			width: 100%;
			height: auto;
		}
		&--tea{
			&>img{
				margin-left: 5%;
			}
		}
		&--laptop{
			&>img{
				margin-left: 5%;
			}
		}
		&--conv{
			padding: 15%;
		}
	}
	&__title {
		text-align: center;
		margin-bottom: 10px;
	}
	&__text {
		text-align: center;
	}
}
.creator {
	&__container {
		margin-bottom: 50px;
	}
	&__title {
		position: relative;
		text-align: center;
		//margin-bottom: 25px;
	}
	&__title-decor {
		position: absolute;
		top: -120%;
		bottom: -130%;
		left: calc(53% + 80px);
		&>img{
			height: 100%;
			width: auto;
		}
		@media screen and (max-width: 375px) {
			display: none;
		}
	}
	&__content-wrapper {
		display: flex;
		justify-content: space-between; 
		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
			padding: 0 10%;
		}
	}
	&__avatar-wrapper {
		flex: 35% 0 0;
		position: relative;
		margin-right: 10px;
		@media screen and (max-width: 768px) {
			margin: 10%;
		}
	}
	&__bg-image {
		z-index: -10;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		/*width: 100%;*/
		&>img{
			width: 100%;
			height: auto;	
		}
	}
	&__avatar {
		margin: 22%;
		/*position: absolute;
		top: 24%;
		bottom: 24%;
		left: 24%;
		right: 24%;*/
		border-radius: 50%;
	}
	&__text-wrapper{
		margin: 40px 0;
		display: flex; 
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		@media screen and (max-width: 768px) {
			align-items: center;
		}
		span{
			margin-bottom: 8px;
			line-height:1.1em;
		}

	}
}
.usefull-materials {
	position: relative;
	&__container {
	}
	&__title-wrapper {
		padding-top: 60px;
	}
	&__title {
		text-align: center;
		margin-bottom: 15px;
	}
	&__subtitle {
		text-align: center;
		padding: 0 30%;
		@media screen and (max-width: 768px) {
			padding: 0 20%;
		}
		@media screen and (max-width: 375px) {
			padding: 0 10%;
		}
	}
	&__content-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__material {
	}
}
.usefull-material {
	display: flex;
	justify-content: center;
	padding: 30px 0px;
	box-sizing: border-box;
	@media screen and (max-width: 768px) {
		padding: 20px 0px;
	}
	&--60 {
		flex: 50% 0 0;
	}
	&--40 {
		flex: 40% 0 0;
	}
	&--35 {
		flex: 30% 0 0;
	}
	&--65 {
		flex: 70% 0 0;
	}
	@media screen and (max-width: 768px) {
		flex: 100% 0 0;
	}
	&__inner-wrapper {
		flex: 70% 0 0;
		margin-left: 40px;
	}
	&__title {
		position: relative;
		margin-bottom: 8px;
	}
	&__title-decor {
		position: absolute;
		left: -40px;
		bottom: 0%;
		top: 0%;
		&>img{
			height: 100%;
			width: auto;
		}
	}
	&__text {
		text-align: left;
	}
}
.reviews {
	&__container {
		margin-top: 120px;
	}
	&__title {
		margin-bottom: 120px;
		text-align: center;
	}
	&__slider-wrapper {
	}
	&__slider {
	}
	&__slide {
	}
	&__review {
	}
}
.review {
	&__wrapper {
		margin: 0 10px;
	}
	&__content-wrapper {
		position: relative;
		margin: 0 10px;
		padding: 20px 20px 10% 20px;
	}
	&__bg-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
	}
	&__bg-top {
		&>img{
			width: 100%;
			height: auto;
		}
	}
	&__bg-mid {
		flex-grow: 1;
		&>img{
			width: 100%;
			height: 100%;
		}
	}
	&__bg-bottom {
		&>img{
			width: 100%;
			height: auto;
		}
	}
	&__stars-wrapper {
		display: flex;
	}
	&__star {
	}
	&__text-wrapper {
	}
	&__avatar-wrapper {

		margin-top: -7%;
		display: flex;
	}
	&__avatar {
		z-index: 20;
		height: 120px;
		width: 120px;
		border-radius: 50%;
	}
	&__avatar-text {
		margin-left: 20px;
	}
}
.speakers {
	&__container {
		margin-top: 130px;
	}
	&__title {
		text-align: center;
		margin-bottom: 50px;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px;
	}
	&__speaker {
		flex: 30% 0 0;
		min-width: 330px;
	}
	@media screen and (max-width: 1400px) {
		:nth-child(1n).speaker{
			flex-direction: row;
		}
		:nth-child(2n).speaker{
			flex-direction: row-reverse;
		}
		:nth-child(3n).speaker{
			flex-direction: row-reverse;
		}
		:nth-child(4n).speaker{
			flex-direction: row;
		}
	}
	@media screen and (max-width: 992px) {
		:nth-child(1n).speaker{
			flex-direction: row;
		}
		:nth-child(2n).speaker{
			flex-direction: row-reverse;
		}
	}
}
.speaker {
	display: flex;

	&__image-wrapper {
	}
	&__image {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		position: relative;
		border: 2px solid #AFBE94;
	}
	&__image-decor {
		position: absolute;
	}
	&__description-wrapper {
		margin-left: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
	}
	&__title {
		position: relative;
	}
	&__country-bubble {
		position: absolute;
		left: calc(100%);
		bottom: 100%;
		width: 26px;
		height: 26px;
	}
	&__description {
		text-align: left;
	}
}
.footer {
	position: relative;
	margin-top: 200px;
	&__container {
		padding-top: 70px;
	}
	&__content-wrapper {
		display: flex;
		@media screen and (max-width: 500px) {
			flex-direction: column-reverse;
		}
	}
	&__left-bar-wrapper {
		flex: 40% 0 0;
		display: flex;
		justify-content: center;
	}
	&__left-bar {
		display: flex;
		flex-grow: 1;
		justify-content: space-around;
		align-items: start;
		@media screen and (max-width: 992px) {
			flex-direction: column;
			flex-grow: 0;
		}
		@media screen and (max-width: 500px) {
			flex-direction: row-reverse;
			max-width: 90%;
			flex-grow: 1;
		}
	}
	&__logo-wrapper {
		margin-bottom: 40px;
	}
	&__logo {
		width: 156px;
		position: relative;
		&>img{
			width: 100%;
			height: auto;
		}
	}
	&__logo-text {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__logo-link{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__menu {
	}
	&__menu-item {
		margin-bottom: 25px;
	}
	&__right-bar-wrapper {
		flex: 60% 0 0;
		display: flex;
		justify-content: center;
	}
	&__right-bar {
		flex-grow: 1;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		@media screen and (max-width: 992px) {
			flex-direction: column;
			flex-grow: 0;
		}
		@media screen and (max-width: 500px) {
			max-width: 90%;
			flex-grow: 1;
			margin-bottom: 40px;
		}
	}
	&__buttons-wrapper {
	}
	&__buttons {
	}
	&__button-wrapper {
		margin-bottom: 40px;
		//width: 100px;
	}
	&__button {
		box-sizing: border-box;
		width: 100%;
		text-align: center;
	}
	&__socials-wrapper {

	}
	&__socials {
		display: flex;
		flex-direction: column;
	}
	&__social-block {
		display: flex;
		align-items: center;
		justify-content: start;
		margin-bottom: 40px;
	}
	&__social-icon {
		flex: 35px 0 0;
		&>img{
			width: 100%;
			height: auto;
		}
		margin-right: 20px;
	}
	&__social-text {
	}
	&__social-list {
		display: flex;
	}
	&__social-list-icon {
		flex: 35px 0 0;
		margin: 0 5px;
		&>img{
			width: 100%;
			height: auto;
		}
	}

	&__decor-leafs-wrapper {
		display: flex;
		justify-content: center;
	}
	&__decor-leafs-container{
		display: flex;
		//max-width: ;
	}
	&__decor-leaf {
		flex-grow: 1;
		&>img{
			width: 100%;
			height: auto;
		}
	}
}
.club-main-block {
	&__container {
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 768px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__image-block {
		flex: 55% 0 0;
		@media screen and (max-width: 768px) {
			flex: 80% 0 0;
		}
	}
	&__image-wrapper {
		margin: 20% 11%;
		//padding: 20% 10% 14% 11%;
		position: relative;
	}
	&__image-bg {
		z-index: -10;
		position: absolute;
		top: -50%;
		left: -14%;
		right: -12%;
		&>img{
			width: 100%;
			height: auto;
		}
	}
	&__image {
		width: 100%;
		border-radius: 80px;
		@media screen and (max-width: 1200px) {
			border-radius: 60px;
		}
		@media screen and (max-width: 992px) {
			border-radius: 45px;
		}
		@media screen and (max-width: 375px) {
			border-radius: 30px;
		}
	}
	&__content-block {
		flex: 40% 0 0;
		@media screen and (max-width: 768px) {
			flex: 100% 0 0;
		}
	}
	&__content-wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		@media screen and (max-width: 768px) {
			align-items: center;
		}
	}
	&__title {
		margin-bottom: 25px;
	}
	&__button {
		margin-bottom: 35px;
	}
	&__text-wrapper{
		margin-left: 20px;
	}
	&__text-block {
		position: relative;
		margin-bottom: 20px;
	}
	&__text-decor {
		position: absolute;
		right: calc(100% + 10px);
		left: -30px;
		top: 0;
		&>img{
			width: 100%;
			height: auto;
		}
	}
}
.info-block {
	position: relative;
	&__container {
		margin-top: 70px;
	}
	&__wrapper{
		padding-top: 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	&__title {
	}
	&__text-wrapper {
		//flex: 60% 0 0;
		width: 80%;
		margin-left: 40px;
	}
	&__text-block {
		position: relative;
		margin-bottom: 20px;
		text-align: left;
	}
	&___text-block-decor {
		position: absolute;
		right: calc(100% + 10px);
		left: -70px;
		top: 0;
		&>img{
			width: 100%;
			height: auto;
		}
	}
	&__sub-text {
		text-align: center;
	}
}
.buy {
	&__container {
		margin-top: 80px;
	}
	&__title {
		text-align: center;
		margin-bottom: 50px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1200px) {
			flex-wrap: wrap;
			justify-content: center;
			gap: 60px;
		}
	}
	&__option {
		flex: 30% 0 0;
		@media screen and (max-width: 1200px) {
			flex: 350px 0 0;
		}
		@media screen and (max-width: 475px) {
			flex: 300px 0 0;
		}
	}
}
.buy-option {
	position: relative;
	height: 400px;
	&__bg {
		z-index: -10;
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(144,161,118,1) 0%, rgba(241,239,236,1) 100%);
		border-radius: 10px;
	}
	&__wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__content-wrapper {
		margin: 2px;
		flex-grow: 1;
		border-radius: 10px 10px 0 0;
		background: #eff1ec;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		padding-top: 40px;
	}
	&__title {
		margin-bottom: 25px;
	}
	&__advantages {
		width: 100%;
		padding: 0 50px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: start;
		margin-bottom: 50px;
	}
	&__advantage-wrapper {
		margin-bottom: 10px;
		display: flex;
		justify-content: start;
		align-items: center;
	}
	&__bullet-point {
		width: 10px;
		height: 10px;
		flex-shrink: 0;
		border-radius: 50%;
		&--green{
			background: #90A176;
			
		}
		&--yellow{
			background: #E7C08D;
		}
	}
	&__advantage {
		text-align: left;
		margin-left: 10px;
	}
	&__cost {
		width: 100%;
		padding: 0 40px;
		box-sizing: border-box;
		text-align: left;
	}
	&__decor {
		position: absolute;
		bottom: 35px;
		left: calc(100% - 70px);
		right: -50px;
		&>img{
			width: 100%;
			height: auto;
		}
		@media screen and (max-width: 425px) {
			display: none;
		}
	}
	&__buy-button {
		flex: 56px 0 0;
		background: #E7C08D;
		border-radius: 0 0 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		cursor: pointer;
		&:hover{
			transition: all 0.3s;
			box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
		}
	}
}