@charset "UTF-8";
@import url("../fonts/Yrsa/font-yrsa.css");
@import url("../fonts/Nunito/font-nunito.css");
/* Слайдер */
.about-us-slider {
  min-width: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.about-us-slider .slick-list {
  height: 100%;
}
.about-us-slider .slick-track {
  height: 100%;
}
.about-us-slider .slick-arrow {
  font-size: 0;
}
.about-us-slider .slick-dots {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .about-us-slider .slick-dots {
    display: none;
  }
}
.about-us-slider .slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #C4C4C4;
  border-radius: 10px;
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.about-us-slider .slick-dots li.slick-active {
  width: 30px;
  background-color: #839470;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.about-us-slider .slick-dots li button {
  border: none;
  font-size: 0;
}
/* Слайдер */
.reviews__slider {
  min-width: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.reviews__slider .slick-list {
  height: 100%;
}
.reviews__slider .slick-track {
  height: 100%;
}
.reviews__slider .slick-arrow {
  font-size: 0;
  -webkit-box-flex: 75px;
      -ms-flex: 75px 0 0px;
          flex: 75px 0 0;
  height: 75px;
  background: transparent;
  border-radius: 50%;
  border: 4px solid #AFBE94;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .reviews__slider .slick-arrow {
    display: none !important;
  }
}
.reviews__slider .slick-arrow::before {
  display: inline-block;
  content: "";
  width: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #AFBE94;
  background: #AFBE94;
  left: 20px;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.reviews__slider .slick-arrow::after {
  display: inline-block;
  content: "";
  width: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #AFBE94;
  background: #AFBE94;
  left: 20px;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.reviews__slider .slick-arrow:hover {
  border: 4px solid #9fab89;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.reviews__slider .slick-arrow:hover::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 4px solid #9fab89;
  background: #9fab89;
}
.reviews__slider .slick-arrow:hover::before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 4px solid #9fab89;
  background: #9fab89;
}
.reviews__slider .slick-arrow.slick-prev {
  margin-right: 10px;
}
.reviews__slider .slick-arrow.slick-next {
  margin-left: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.reviews__slider .slick-dots {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__slider .slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #C4C4C4;
  border-radius: 10px;
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.reviews__slider .slick-dots li.slick-active {
  width: 30px;
  background-color: #839470;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.reviews__slider .slick-dots li button {
  border: none;
  font-size: 0;
}
.text--white {
  color: #fff;
}
.text--black {
  color: #3A3A3A;
}
.text--gray {
  color: #565656;
}
.text--light-gray {
  color: #676767;
}
.text--olive-yellow {
  color: #E0BD7F;
}
.text--olive-green {
  color: #90A176;
}
.text--olive-darkgreen {
  color: #6B7A55;
}
.text--outline--olive-green {
  -webkit-text-stroke: 0.2px #90A176;
}
.text--Yrsa {
  font-family: Yrsa;
  font-style: normal;
}
.text--Nunito {
  font-family: Nunito;
  font-style: normal;
}
.text--300 {
  font-weight: 300;
}
.text--400 {
  font-weight: 400;
}
.text--500 {
  font-weight: 500;
}
.text--600 {
  font-weight: 600;
}
.text--700 {
  font-weight: 700;
}
.text--XXXL {
  font-size: calc((100vw - 375px)/(768 - 375)*(100 - 52) + 52px);
}
@media screen and (min-width: 768px) {
  .text--XXXL {
    font-size: 100px;
  }
}
@media screen and (max-width: 375px) {
  .text--XXXL {
    font-size: 52px;
  }
}
.text--XXXL--static {
  font-size: 100px;
}
.text--XXL {
  font-size: calc((100vw - 910px)/(1500 - 910)*(52 - 36) + 36px);
}
@media screen and (min-width: 1500px) {
  .text--XXL {
    font-size: 52px;
  }
}
@media screen and (max-width: 910px) {
  .text--XXL {
    font-size: 36px;
  }
}
.text--XXL--static {
  font-size: 52px;
}
.text--XL {
  line-height: 1em;
  font-size: calc((100vw - 375px)/(1500 - 375)*(36 - 24) + 24px);
}
@media screen and (min-width: 1500px) {
  .text--XL {
    font-size: 36px;
  }
}
@media screen and (max-width: 375px) {
  .text--XL {
    font-size: 24px;
  }
}
.text--XL--static {
  font-size: 36px;
}
.text--L {
  line-height: 1em;
  font-size: calc((100vw - 910px)/(1500 - 910)*(24 - 18) + 18px);
}
@media screen and (min-width: 1500px) {
  .text--L {
    font-size: 24px;
  }
}
@media screen and (max-width: 910px) {
  .text--L {
    font-size: 18px;
  }
}
.text--L--static {
  font-size: 24px;
}
.text--ML {
  font-size: calc((100vw - 910px)/(1500 - 910)*(18 - 15) + 15px);
  line-height: 1em;
}
@media screen and (min-width: 1500px) {
  .text--ML {
    font-size: 18px;
  }
}
@media screen and (max-width: 910px) {
  .text--ML {
    font-size: 15px;
  }
}
.text--ML--static {
  font-size: 18px;
}
.text--M {
  font-size: calc((100vw - 910px)/(1500 - 910)*(16 - 13) + 13px);
  line-height: 1em;
}
@media screen and (min-width: 1500px) {
  .text--M {
    font-size: 16px;
  }
}
@media screen and (max-width: 910px) {
  .text--M {
    font-size: 13px;
  }
}
.text--M--static {
  font-size: 16px;
}
.text--S {
  line-height: 1em;
  font-size: calc((100vw - 910px)/(1500 - 910)*(15 - 12) + 12px);
}
@media screen and (min-width: 1500px) {
  .text--S {
    font-size: 15px;
  }
}
@media screen and (max-width: 910px) {
  .text--S {
    font-size: 12px;
  }
}
.text--S--static {
  font-size: 15px;
}
.text--XS {
  font-size: calc((100vw - 910px)/(1500 - 910)*(14 - 11) + 11px);
  line-height: 1em;
}
@media screen and (min-width: 1500px) {
  .text--XS {
    font-size: 14px;
  }
}
@media screen and (max-width: 910px) {
  .text--XS {
    font-size: 11px;
  }
}
.text--XS--static {
  font-size: 14px;
}

.button {
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}
.button--large {
  padding: 15px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .button--large {
    padding: 15px 25px;
  }
}
.button--olive-yellow {
  background-color: #E7C08D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button--olive-yellow:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}
.button--white {
  background-color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button--white:hover {
  -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-icon--white {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social-icon--white:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
}
.ibg--contain {
  background-size: contain;
}
.ibg--cover {
  background-size: cover;
}

/*.mask{
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	&--elliptic{
		mask-image:url("../images/eliptic-shape.svg");
	}
	&--reverse-elliptic{
		mask-image:url("../images/reverse-ellipse.svg");
	}
}*/
a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.container {
  width: 1320px;
  height: auto;
  margin: auto;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
body {
  background-color: #f6f3f1;
  text-align: justify;
  margin: 0;
}

.bg-block {
  z-index: -100;
  position: absolute;
  top: -15%;
  bottom: -20%;
  left: 0;
  right: 0;
}
.bg-block--footer {
  bottom: 0;
}
.bg-block > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-menu__wrap {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-menu__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.top-menu__logo img {
  width: auto;
  height: 100%;
}
.top-menu__logo-text-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-menu__logo-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.top-menu__menu {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .top-menu__menu {
    display: none;
  }
}
.top-menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .top-menu__icons {
    display: none;
  }
}
.top-menu__icon {
  margin: 0 20px;
}
.mob-burger {
  -webkit-box-flex: 50px;
      -ms-flex: 50px 0 0px;
          flex: 50px 0 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .mob-burger {
    display: none;
  }
}
.mob-burger__line {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #90A176;
  border-radius: 2px;
  background: #90A176;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mob-burger--active .mob-burger__line--1 {
  -webkit-transform: translateY(calc(20px - 2px)) rotate(-135deg);
          transform: translateY(calc(20px - 2px)) rotate(-135deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mob-burger--active .mob-burger__line--2 {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mob-burger--active .mob-burger__line--3 {
  -webkit-transform: translateY(calc(-20px + 2px)) rotate(135deg);
          transform: translateY(calc(-20px + 2px)) rotate(135deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mob-menu {
  position: fixed;
  bottom: calc(-100% + 110px);
  height: calc(100% - 110px);
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu--active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mob-menu__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: #7B9968;
}
.mob-menu__content-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 375px) {
  .mob-menu__content-wrapper {
    padding: 30px 30px;
  }
}
.mob-menu__menu {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 0px;
          flex: 40% 0 0;
}
@media screen and (max-width: 500px) {
  .mob-menu__menu {
    -webkit-box-flex: 70%;
        -ms-flex: 70% 0 0px;
            flex: 70% 0 0;
  }
}
@media screen and (max-height: 540px) {
  .mob-menu__menu {
    -webkit-box-flex: 1;
        -ms-flex: auto 0 0px;
            flex: auto 0 0;
  }
}
.mob-menu__menu-item {
  margin-bottom: 15px;
}
.mob-menu__socials {
  -webkit-box-flex: 30%;
      -ms-flex: 30% 0 0px;
          flex: 30% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media screen and (max-height: 540px) {
  .mob-menu__socials {
    -webkit-box-flex: 20%;
        -ms-flex: 20% 0 0px;
            flex: 20% 0 0;
  }
}
@media screen and (max-height: 540px) {
  .mob-menu__socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.mob-menu__social-icon {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
}
.mob-menu__social-icon > img {
  width: 100%;
  height: 100%;
}
.mob-menu__buttons {
  margin-top: 50px;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 0px;
          flex: 100% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-height: 540px) {
  .mob-menu__buttons {
    -webkit-box-flex: 30%;
        -ms-flex: 30% 0 0px;
            flex: 30% 0 0;
    margin-top: 0;
  }
}
.mob-menu__button-wrapper {
  padding: 0 30%;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .mob-menu__button-wrapper {
    padding: 0 20%;
  }
}
@media screen and (max-width: 500px) {
  .mob-menu__button-wrapper {
    padding: 0;
  }
}
@media screen and (max-height: 540px) {
  .mob-menu__button-wrapper {
    padding: 0;
  }
}
.mob-menu__button {
  width: 100%;
}

.invitation-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3%;
}
@media screen and (max-width: 992px) {
  .invitation-block__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .invitation-block__wrapper {
    padding: 0 7%;
  }
}
.invitation-block__logo-wrapper {
  -webkit-box-flex: 47%;
      -ms-flex: 47% 0 0px;
          flex: 47% 0 0;
  position: relative;
  padding-bottom: 5%;
}
@media screen and (max-width: 1200px) {
  .invitation-block__logo-wrapper {
    -webkit-box-flex: 50%;
        -ms-flex: 50% 0 0px;
            flex: 50% 0 0;
  }
}
@media screen and (max-width: 992px) {
  .invitation-block__logo-wrapper {
    -webkit-box-flex: 80%;
        -ms-flex: 80% 0 0px;
            flex: 80% 0 0;
  }
}
@media screen and (max-width: 576px) {
  .invitation-block__logo-wrapper {
    -webkit-box-flex: 90%;
        -ms-flex: 90% 0 0px;
            flex: 90% 0 0;
  }
}
@media screen and (max-width: 375px) {
  .invitation-block__logo-wrapper {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
  }
}
.invitation-block__logo-bg {
  z-index: -10;
  width: 100%;
  height: 100%;
}
.invitation-block__logo-bg > img {
  width: 100%;
  height: auto;
}
.invitation-block__logo-title-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.invitation-block__logo-title-wrapper {
  text-align: center;
  margin-bottom: 7%;
}
@media screen and (max-width: 992px) {
  .invitation-block__logo-title-wrapper {
    margin-bottom: 0;
  }
}
.invitation-block__invitation-wrapper {
  -webkit-box-flex: 47%;
      -ms-flex: 47% 0 0px;
          flex: 47% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 992px) {
  .invitation-block__invitation-wrapper {
    -webkit-box-flex: 80%;
        -ms-flex: 80% 0 0px;
            flex: 80% 0 0;
    margin-top: 110px;
    margin-bottom: 110px;
  }
}
@media screen and (max-width: 576px) {
  .invitation-block__invitation-wrapper {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
  }
}
.invitation-block__invitation-bg-wrapper {
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.invitation-block__invitation-bg {
  width: 100%;
  position: relative;
}
.invitation-block__invitation-bg > img {
  width: 100%;
  height: auto;
}
.invitation-block__invitation-bg-decor {
  position: absolute;
  right: -9%;
  top: -11%;
  bottom: -2%;
}
.invitation-block__invitation-bg-decor > img {
  height: 100%;
  width: auto;
}
.invitation-block__invitation-text {
  margin-bottom: 15px;
}
.club-description {
  position: relative;
}
.club-description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4%;
}
@media screen and (max-width: 992px) {
  .club-description__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 8%;
  }
}
.club-description__description-element {
  -webkit-box-flex: 45%;
      -ms-flex: 45% 0 0px;
          flex: 45% 0 0;
}
@media screen and (max-width: 992px) {
  .club-description__description-element {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80%;
  }
}

.description-element {
  margin-bottom: 70px;
}
.description-element__title {
  margin-bottom: 20px;
}
.description-element__image {
  margin-bottom: 45px;
  position: relative;
}
.description-element__image > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media screen and (max-width: 375px) {
  .description-element__image {
    margin-bottom: 20px;
  }
}
.description-element__image-decor {
  position: absolute;
}
.description-element__image-decor > img {
  height: 100%;
  width: auto;
}
.description-element__image-decor--bl {
  top: 45%;
  bottom: -15%;
  left: -10%;
}
.description-element__image-decor--tr {
  top: -30%;
  bottom: 73%;
  right: -9%;
}
.description-element__text {
  margin-bottom: 40px;
}
.about-us {
  position: relative;
}
.about-us__container {
  margin-bottom: 200px;
  padding-top: 30px;
}
.about-us__title {
  text-align: center;
  position: relative;
  margin-bottom: 110px;
}
.about-us__title-decor {
  position: absolute;
  top: -10%;
  bottom: -130%;
  left: calc(48% - 180px);
}
.about-us__title-decor > img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 375px) {
  .about-us__title-decor {
    display: none;
  }
}
.about-us__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  margin-bottom: 20px;
}
.about-element__inner-wrapper {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
.about-element__image-wrap {
  height: 165px;
  width: 165px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.about-element__image-outer-bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
  border-radius: 50%;
  z-index: -20;
  background: -webkit-gradient(linear, left top, left bottom, from(#90a176), to(#f1efec));
  background: linear-gradient(180deg, #90a176 0%, #f1efec 100%);
}
.about-element__image-inner-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -10;
  background: #F6F3F1;
}
.about-element__image {
  -webkit-box-flex: 80%;
      -ms-flex: 80% 0 0px;
          flex: 80% 0 0;
  padding: 12%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about-element__image > img {
  width: 100%;
  height: auto;
}
.about-element__image--tea > img {
  margin-left: 5%;
}
.about-element__image--laptop > img {
  margin-left: 5%;
}
.about-element__image--conv {
  padding: 15%;
}
.about-element__title {
  text-align: center;
  margin-bottom: 10px;
}
.about-element__text {
  text-align: center;
}

.creator__container {
  margin-bottom: 50px;
}
.creator__title {
  position: relative;
  text-align: center;
}
.creator__title-decor {
  position: absolute;
  top: -120%;
  bottom: -130%;
  left: calc(53% + 80px);
}
.creator__title-decor > img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 375px) {
  .creator__title-decor {
    display: none;
  }
}
.creator__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .creator__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 10%;
  }
}
.creator__avatar-wrapper {
  -webkit-box-flex: 35%;
      -ms-flex: 35% 0 0px;
          flex: 35% 0 0;
  position: relative;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .creator__avatar-wrapper {
    margin: 10%;
  }
}
.creator__bg-image {
  width: 100%;
}
.creator__bg-image > img {
  width: 100%;
  height: auto;
}
.creator__avatar {
  position: absolute;
  top: 24%;
  bottom: 24%;
  left: 24%;
  right: 24%;
  border-radius: 50%;
}
.creator__text-wrapper {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media screen and (max-width: 768px) {
  .creator__text-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.creator__text-wrapper span {
  margin-bottom: 8px;
  line-height: 1.1em;
}

.usefull-materials {
  position: relative;
}
.usefull-materials__title-wrapper {
  padding-top: 60px;
}
.usefull-materials__title {
  text-align: center;
  margin-bottom: 15px;
}
.usefull-materials__subtitle {
  text-align: center;
  padding: 0 30%;
}
@media screen and (max-width: 768px) {
  .usefull-materials__subtitle {
    padding: 0 20%;
  }
}
@media screen and (max-width: 375px) {
  .usefull-materials__subtitle {
    padding: 0 10%;
  }
}
.usefull-materials__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.usefull-material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .usefull-material {
    padding: 20px 0px;
  }
}
.usefull-material--60 {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
}
.usefull-material--40 {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 0px;
          flex: 40% 0 0;
}
.usefull-material--35 {
  -webkit-box-flex: 30%;
      -ms-flex: 30% 0 0px;
          flex: 30% 0 0;
}
.usefull-material--65 {
  -webkit-box-flex: 70%;
      -ms-flex: 70% 0 0px;
          flex: 70% 0 0;
}
@media screen and (max-width: 768px) {
  .usefull-material {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
  }
}
.usefull-material__inner-wrapper {
  -webkit-box-flex: 70%;
      -ms-flex: 70% 0 0px;
          flex: 70% 0 0;
  margin-left: 40px;
}
.usefull-material__title {
  position: relative;
  margin-bottom: 8px;
}
.usefull-material__title-decor {
  position: absolute;
  left: -40px;
  bottom: 0%;
  top: 0%;
}
.usefull-material__title-decor > img {
  height: 100%;
  width: auto;
}
.usefull-material__text {
  text-align: left;
}

.reviews__container {
  margin-top: 120px;
}
.reviews__title {
  margin-bottom: 120px;
  text-align: center;
}
.review__wrapper {
  margin: 0 10px;
}
.review__content-wrapper {
  position: relative;
  margin: 0 10px;
  padding: 20px 20px 10% 20px;
}
.review__bg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.review__bg-top > img {
  width: 100%;
  height: auto;
}
.review__bg-mid {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.review__bg-mid > img {
  width: 100%;
  height: 100%;
}
.review__bg-bottom > img {
  width: 100%;
  height: auto;
}
.review__stars-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review__avatar-wrapper {
  margin-top: -7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review__avatar {
  z-index: 20;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.review__avatar-text {
  margin-left: 20px;
}

.speakers {
  /*
  :nth-child(even){
  	flex-direction: row-reverse;
  }*/
}
.speakers__container {
  margin-top: 130px;
}
.speakers__title {
  text-align: center;
  margin-bottom: 50px;
}
.speakers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.speakers__speaker {
  -webkit-box-flex: 30%;
      -ms-flex: 30% 0 0px;
          flex: 30% 0 0;
  min-width: 330px;
}
@media screen and (max-width: 1400px) {
  .speakers :nth-child(1n).speaker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .speakers :nth-child(2n).speaker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .speakers :nth-child(3n).speaker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .speakers :nth-child(4n).speaker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 992px) {
  .speakers :nth-child(1n).speaker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .speakers :nth-child(2n).speaker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.speaker__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #AFBE94;
}
.speaker__image-decor {
  position: absolute;
}
.speaker__description-wrapper {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.speaker__title {
  position: relative;
}
.speaker__country-bubble {
  position: absolute;
  left: calc(100%);
  bottom: 100%;
  width: 26px;
  height: 26px;
}
.speaker__description {
  text-align: left;
}

.footer {
  position: relative;
  margin-top: 200px;
}
.footer__container {
  padding-top: 70px;
}
.footer__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 500px) {
  .footer__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.footer__left-bar-wrapper {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 0px;
          flex: 40% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media screen and (max-width: 992px) {
  .footer__left-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__left-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 90%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.footer__logo-wrapper {
  margin-bottom: 40px;
}
.footer__logo {
  width: 156px;
  position: relative;
}
.footer__logo > img {
  width: 100%;
  height: auto;
}
.footer__logo-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.footer__menu-item {
  margin-bottom: 25px;
}
.footer__right-bar-wrapper {
  -webkit-box-flex: 60%;
      -ms-flex: 60% 0 0px;
          flex: 60% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__right-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 992px) {
  .footer__right-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__right-bar {
    max-width: 90%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 40px;
  }
}
.footer__button-wrapper {
  margin-bottom: 40px;
}
.footer__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 40px;
}
.footer__social-icon {
  -webkit-box-flex: 35px;
      -ms-flex: 35px 0 0px;
          flex: 35px 0 0;
  margin-right: 20px;
}
.footer__social-icon > img {
  width: 100%;
  height: auto;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-list-icon {
  -webkit-box-flex: 35px;
      -ms-flex: 35px 0 0px;
          flex: 35px 0 0;
  margin: 0 5px;
}
.footer__social-list-icon > img {
  width: 100%;
  height: auto;
}
.footer__decor-leafs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__decor-leafs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__decor-leaf {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__decor-leaf > img {
  width: 100%;
  height: auto;
}

.club-main-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .club-main-block__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.club-main-block__image-block {
  -webkit-box-flex: 55%;
      -ms-flex: 55% 0 0px;
          flex: 55% 0 0;
}
@media screen and (max-width: 768px) {
  .club-main-block__image-block {
    -webkit-box-flex: 80%;
        -ms-flex: 80% 0 0px;
            flex: 80% 0 0;
  }
}
.club-main-block__image-wrapper {
  margin: 20% 11%;
  position: relative;
}
.club-main-block__image-bg {
  z-index: -10;
  position: absolute;
  top: -50%;
  left: -14%;
  right: -12%;
}
.club-main-block__image-bg > img {
  width: 100%;
  height: auto;
}
.club-main-block__image {
  width: 100%;
  border-radius: 80px;
}
@media screen and (max-width: 1200px) {
  .club-main-block__image {
    border-radius: 60px;
  }
}
@media screen and (max-width: 992px) {
  .club-main-block__image {
    border-radius: 45px;
  }
}
@media screen and (max-width: 375px) {
  .club-main-block__image {
    border-radius: 30px;
  }
}
.club-main-block__content-block {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 0px;
          flex: 40% 0 0;
}
@media screen and (max-width: 768px) {
  .club-main-block__content-block {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
  }
}
.club-main-block__content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media screen and (max-width: 768px) {
  .club-main-block__content-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.club-main-block__title {
  margin-bottom: 25px;
}
.club-main-block__button {
  margin-bottom: 35px;
}
.club-main-block__text-wrapper {
  margin-left: 20px;
}
.club-main-block__text-block {
  position: relative;
  margin-bottom: 20px;
}
.club-main-block__text-decor {
  position: absolute;
  right: calc(100% + 10px);
  left: -30px;
  top: 0;
}
.club-main-block__text-decor > img {
  width: 100%;
  height: auto;
}

.info-block {
  position: relative;
}
.info-block__container {
  margin-top: 70px;
}
.info-block__wrapper {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-block__text-wrapper {
  width: 80%;
  margin-left: 40px;
}
.info-block__text-block {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}
.info-block___text-block-decor {
  position: absolute;
  right: calc(100% + 10px);
  left: -70px;
  top: 0;
}
.info-block___text-block-decor > img {
  width: 100%;
  height: auto;
}
.info-block__sub-text {
  text-align: center;
}

.buy__container {
  margin-top: 80px;
}
.buy__title {
  text-align: center;
  margin-bottom: 50px;
}
.buy__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .buy__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
}
.buy__option {
  -webkit-box-flex: 30%;
      -ms-flex: 30% 0 0px;
          flex: 30% 0 0;
}
@media screen and (max-width: 1200px) {
  .buy__option {
    -webkit-box-flex: 350px;
        -ms-flex: 350px 0 0px;
            flex: 350px 0 0;
  }
}
@media screen and (max-width: 475px) {
  .buy__option {
    -webkit-box-flex: 300px;
        -ms-flex: 300px 0 0px;
            flex: 300px 0 0;
  }
}

.buy-option {
  position: relative;
  height: 400px;
}
.buy-option__bg {
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#90a176), to(#f1efec));
  background: linear-gradient(180deg, #90a176 0%, #f1efec 100%);
  border-radius: 10px;
}
.buy-option__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.buy-option__content-wrapper {
  margin: 2px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px 10px 0 0;
  background: #eff1ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}
.buy-option__title {
  margin-bottom: 25px;
}
.buy-option__advantages {
  width: 100%;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 50px;
}
.buy-option__advantage-wrapper {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buy-option__bullet-point {
  width: 10px;
  height: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
}
.buy-option__bullet-point--green {
  background: #90A176;
}
.buy-option__bullet-point--yellow {
  background: #E7C08D;
}
.buy-option__advantage {
  text-align: left;
  margin-left: 10px;
}
.buy-option__cost {
  width: 100%;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}
.buy-option__decor {
  position: absolute;
  bottom: 35px;
  left: calc(100% - 70px);
  right: -50px;
}
.buy-option__decor > img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 425px) {
  .buy-option__decor {
    display: none;
  }
}
.buy-option__buy-button {
  -webkit-box-flex: 56px;
      -ms-flex: 56px 0 0px;
          flex: 56px 0 0;
  background: #E7C08D;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.buy-option__buy-button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */