@font-face {
	font-family: 'Caveat';
	/*src: url('HelveticaNeueCyr-Medium.eot');*/
	src: local('Caveat-Regular'),
		/*url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),*/
		/*url('HelveticaNeueCyr-Medium.woff') format('woff'),*/
		url('Caveat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Caveat';
	/*src: url('HelveticaNeueCyr-Medium.eot');*/
	src: local('Caveat-Medium'),
		/*url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),*/
		/*url('HelveticaNeueCyr-Medium.woff') format('woff'),*/
		url('Caveat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Caveat';
	/*src: url('HelveticaNeueCyr-Medium.eot');*/
	src: local('Caveat-SemiBold'),
		/*url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),*/
		/*url('HelveticaNeueCyr-Medium.woff') format('woff'),*/
		url('Caveat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Caveat';
	/*src: url('HelveticaNeueCyr-Medium.eot');*/
	src: local('Caveat-Bold'),
		/*url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),*/
		/*url('HelveticaNeueCyr-Medium.woff') format('woff'),*/
		url('Caveat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}